.place__title {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
}

@media only screen and (max-width: 1024px) {
    .place__title {
        font-size: calc(42px + (72 - 42) * ((100vw - 768px)/ (1024 - 767)));
        line-height: calc(76 / 72);
        max-width: 288px;
    }
}

@media only screen and (max-width: 767px) {
    .place__title {
        font-size: calc(32px + (42 - 32) * ((100vw - 320px)/ (767 - 320)));
        line-height: calc(46 / 42);
    }
}

@media only screen and (max-width: 576px) {
    .place__title {
        max-width: 100%;   
        padding: 0 16px; 
    }
}