.cover__subtitle {
    max-width: 360px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 440px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}
