.lead__title {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 32px auto;
}

@media only screen and (max-width: 1023px) {
    .lead__title {
        padding: 0 24px;
    }
}

@media only screen and (max-width: 767px) {
    .lead__title {
        font-size: calc(40px + (96 - 40) * ((100vw - 320px)/ (767 - 320)));
        line-height: calc(100 / 96);
        margin: 0 auto calc(16px + (32 - 16) * ((100vw - 320px)/ (767 - 320))) auto;
    }
}