.intro {
    max-width: 984px;
    padding: 92px 48px 0 48px; 
}

@media only screen and (max-width: 1023px) {
    .intro {
        padding: 88px 24px 0 24px; 
    }
}

@media only screen and (max-width: 767px) {
    .intro {
        padding-top: calc(64px + (88 - 64) * ((100vw - 320px)/ (767 - 320)));
        padding-left: calc(16px + (24 - 16) * ((100vw - 320px)/ (767 - 320)));
        padding-right: calc(16px + (24 - 16) * ((100vw - 320px)/ (767 - 320)));
    }
}