.place {
    display: grid;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
    gap: 48px 40px;
    margin: 0 0 80px 0;
}

.place:last-child {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
        gap: 48px 32px;
        margin: 0 0 calc(73px + (80 - 73) * ((100vw - 768px)/ (1024 - 768))) 0;
    }
}

@media only screen and (max-width: 880px) {
    .place {
        grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
        gap: 48px 28px;
    }
}

@media only screen and (max-width: 767px) {
    .place {
        margin: 0 0 calc(50px + (73 - 50) * ((100vw - 320px)/ (767 - 320))) 0;
    }
}

@media only screen and (max-width: 576px) {
    .place {
        grid-template-columns: minmax(min-content, 1fr);
        gap: 32px;
    }
}