.intro__title  {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0 0 40px 0;
}

@media only screen and (max-width: 767px) {
    .intro__title  {
        font-size: calc(32px + (54 - 32) * ((100vw - 320px)/ (767 - 320)));
        line-height: calc(58 / 54);
    }
}